/* You can add global styles to this file, and also import other style files */

.ml-1 {
  margin-left: 1em;
}
.ml-2 {
  margin-left: 2em;
}
.ml-3 {
  margin-left: 3em;
}
.ml-4 {
  margin-left: 4em;
}
.ml-5 {
  margin-left: 5em;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
